.profile__edit-button{
  width: 10px;
  height: 10px;
  padding: 6px;
  border: 1px solid #FFF;
  margin-top: 15px;
  background-image: url(../../../images/pencil.svg);
}

.profile__edit-button:hover{
  opacity: .6;
}

@media screen and (max-width:580px){
  .profile__edit-button{
    width: 7px;
    height: 7px;
    padding: 5px;
    align-self: flex-end;
    margin: 0 36px 0 0;
  }
}