@import url(__picture/profile__picture.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__about/profile__about.css);
@import url(__plus-button/profile__plus-button.css);

.profile{
  width: 100%;
  max-width: 880px;
  padding-top: 36px;
  display: flex;
  align-items: center;
}

@media screen and (max-width:580px){
  .profile{
    flex-direction: column;
    justify-content: center;
  }
}