.card__like-button{
  width: 21px;
  height: 19px;
  background-image: url("../../../images/heart-hollow.svg");
  margin-right: 18px;
}

.card__like-button:hover{
  opacity: .5;
}

.card__like-button_filled{
  background-image: url("../../../images/heart-full.svg");
}