.edit-profile__cancel-button{
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  transform: rotate(45deg);
}

.edit-profile__cancel-button:hover{
  opacity: .6;
}

@media screen and (max-width: 580px){
  .edit-profile__cancel-button{
    right: 0;
  }
}