.profile__info{
  width: fit-content;
  max-width: 562px;
  max-height: 77px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}

@media screen and (max-width:580px){
  .profile__info{
    max-width: 320px;
    padding: 30px 0 0 0;
    flex-direction: column;
  }
}