@import url(__copyright/footer__copyright.css);
.footer{
  max-width: 880px;
  width: 100%;
  margin: 68px 0 60px;
}

@media screen and (max-width:580px){
  .footer{
    margin: 50px 0 36px;
  }
}